body {
	background-color: pink;
}
h1{
	font-family: 'Staatliches', cursive;color:salmon; font-size: 12vw; text-align: center;text-decoration: underline;
}
h2{
font-size: 5vw; color: #76730D; text-align: center; opacity: 0.7;
 }
 h3{
font-size: 4vw; color: #76730D; text-align: center; opacity: 0.5;
 }
 h4{
font-size: 3vw; color: #76730D; text-align: center; opacity: 0.3;
 }
#logo{
    width:133px; height:133px; 
	position:fixed;
	top:0;
	left:0;
	margin:10;
}

p{
	font-size: 25px; color:grey; text-align: center;
}
a{
<<<<<<< HEAD
font-size: 80px; font-family: 'staatliches'; color:salmon;
}

table {
	padding-top: 20px;
	margin-right: center;
	margin-left: center;
	margin: 0 auto;
}

td {
	width: 2.7vw;
	height: 2.7vw;
	background-color: #cdaf95;
}

.selected  {
	background-color: red;
}

.executing {
	background-color: white;
=======
font-size: 80px; font-family: 'staatliches'; color:salmon; text-align: center;
>>>>>>> 1eb78c7ab226105efeed5be9339264783b258fe0
}